<template>
  <div class="about">
    <h1 class="title">Employee list</h1>
    <p>
      <i>
        This is an demo task for hiring process of Interenet Bilboard made by
        <b>Adam Schreier</b>
      </i>
    </p>
    <small>This page serves mainly as a refresh for the main page</small>
  </div>
</template>
