<template>
  <div class="home container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <EmployeeList class="custom-card" />
        </div>
      </div>
      <div class="column">
        <div class="content">
          <EmployeeDetail v-if="selected" class="custom-card" />
          <EmployeeOverview v-else class="custom-card" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import EmployeeDetail from "../components/EmployeeDetail";
import EmployeeList from "../components/EmployeeList";
import EmployeeOverview from "../components/EmployeeOverview";
import { mapState } from "vuex";

export default {
  name: "EmployeeManagment",
  components: {
    EmployeeOverview,
    EmployeeList,
    EmployeeDetail
  },
  created() {
    this.$store.dispatch("loadEmployees");
    this.$store.dispatch("loadPositions");
  },
  computed: {
    ...mapState({
      selected: state => state.selected
    })
  }
};
</script>

<style lang="scss">
.custom-card {
  background: white;
  border: 1px black solid;
  border-radius: 5px;
  margin: 0.3em;
  padding: 0.3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black;
    button {
      margin-right: 1em;
    }
  }
}
</style>
