<template>
  <form action="">
    <div class="modal-card">
      <header class="modal-card-head">
        <p v-if="editMode" class="modal-card-title">Edit employee record</p>
        <p v-else class="modal-card-title">Add new employee</p>
      </header>
      <section class="modal-card-body">
        <b-field label="First name">
          <b-input
            type="name"
            :value="employee.firstName"
            v-model="employee.firstName"
            placeholder="First name"
            required
          >
          </b-input>
        </b-field>

        <b-field label="Last name">
          <b-input
            type="name"
            :value="employee.lastName"
            v-model="employee.lastName"
            placeholder="Last name"
            required
          >
          </b-input>
        </b-field>
        <b-field label="Date of birth">
          <b-datepicker
            v-model="employee.date"
            placeholder="Click to select..."
            icon="calendar-today"
          >
          </b-datepicker>
        </b-field>

        <b-field label="Position">
          <b-select v-model="employee.position" placeholder="Select position">
            <option
              v-for="position in positions"
              :value="position"
              :key="position"
            >
              {{ position }}
            </option>
          </b-select>
        </b-field>

        <b-field label="Employment start date">
          <!-- :min-date="minDate" -->
          <b-datepicker
            v-model="employee.startDate"
            placeholder="Click to select..."
            icon="calendar-today"
          >
          </b-datepicker>
        </b-field>
        <b-checkbox v-model="endDateEnabled">Set end of employment</b-checkbox>
        <b-field v-show="endDateEnabled" label="Employment end date">
          <!-- :min-date="minDate" -->
          <b-datepicker
            v-model="employee.endDate"
            placeholder="Click to select..."
            icon="calendar-today"
          >
          </b-datepicker>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <section v-if="editMode">
          <button class="button" type="button" @click="$parent.close()">
            Cancel
          </button>
          <button
            id="updateButton"
            @click="onUpdateClicked"
            class="button is-primary"
          >
            Update
          </button>
          <button
            id="removeButton"
            @click="onRemoveClicked"
            class="button is-danger"
          >
            Remove
          </button>
        </section>
        <section v-else>
          <button class="button" type="button" @click="$parent.close()">
            Cancel
          </button>
          <button
            id="addButton"
            @click="onAddClicked"
            class="button is-primary"
          >
            Add employee
          </button>
        </section>
      </footer>
    </div>
  </form>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "EditEmployeeForm",
  data() {
    return {
      endDateEnabled: false,
      employee: {
        firstName: "",
        lastName: "",
        date: null,
        startDate: new Date(),
        endDate: null
      }
    };
  },
  created() {
    if (this.selected) {
      this.employee = this.selected;
    }
  },
  computed: {
    ...mapState({
      positions: state => state.positions,
      selected: state => state.selected
    }),
    editMode() {
      return Boolean(this.selected);
    }
  },
  methods: {
    onAddClicked() {
      this.$store.commit("addEmployee", this.employee);
      if (this.$parent) this.$parent.close();
    },
    onUpdateClicked() {
      this.$store.commit("editEmployee", this.employee);
      if (this.$parent) this.$parent.close();
    },
    onRemoveClicked() {
      this.$store.commit("removeEmployee", this.employee);
      if (this.$parent) this.$parent.close();
    }
  }
};
</script>
