<template>
  <div>
    <div class="header">
      <h1>Employee detail</h1>
      <section class="control">
        <button class="button field is-danger" @click="onClearSelectionClicked">
          <b-icon icon="arrow-left" />
          <span>Back to overview</span>
        </button>
        <button
          id="editButton"
          class="button field is-info"
          @click="onEditClicked"
        >
          <span>Edit</span>
        </button>
      </section>
    </div>
    <section class="has-text-left">
      <div style="display: flex">
        <h3 class="employee-name">
          {{ selected.firstName }} {{ selected.lastName }}
        </h3>
        <span
          class="tag"
          :class="selected.status === 'Employed' ? 'is-success' : 'is-danger'"
          >{{ selected.status }}</span
        >
      </div>
      <h5>Position: {{ selected.position }}</h5>
      <h5>Date fo birth: {{ new Date(selected.date).toLocaleDateString() }}</h5>
      <h5>
        Employment: {{ new Date(selected.startDate).toLocaleDateString() }} -
        {{
          selected.endDate
            ? new Date(selected.endDate).toLocaleDateString()
            : "no end date arranged"
        }}
      </h5>
    </section>
  </div>
</template>

<script>
import { mapState } from "vuex";
import EditEmployeeForm from "./EditEmployeeForm";
export default {
  name: "EmployeeDetail",
  computed: {
    ...mapState({
      selected: state => state.selected
    })
  },
  methods: {
    onClearSelectionClicked() {
      this.$store.commit("setSelected", null);
    },
    onEditClicked() {
      this.$buefy.modal.open({
        parent: this,
        component: EditEmployeeForm,
        hasModalCard: true,
        trapFocus: true
      });
    }
  }
};
</script>

<style scoped>
.employee-name {
  margin-right: 1em;
}
</style>
