<template>
  <section>
    <h1>Employee overview</h1>
    <section v-if="!isLoading" class="has-text-left">
      <h3>Total number of employees: {{ employees.length }}</h3>
      <h5 v-for="position of Object.keys(this.positionsCount)" :key="position">
        Total number of {{ position }}s: {{ positionsCount[position] }}
      </h5>
    </section>
    <b-loading v-else />
  </section>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "EmployeeOverview",
  computed: {
    ...mapState({
      isLoading: state => state.isLoading,
      employees: state => state.employees
    }),
    positionsCount() {
      const positions = {};
      for (const employee of this.employees) {
        if (positions[employee.position]) {
          positions[employee.position]++;
        } else {
          positions[employee.position] = 1;
        }
      }
      return positions;
    }
  }
};
</script>
