<template>
  <section>
    <div class="header">
      <h1>Employee list</h1>
      <button class="button field is-info" @click="onNewClicked">
        <span>Add new employee</span>
      </button>
    </div>
    <div class="controls">
      <b-input v-model="search" placeholder="Search by name or position" />
      <b-switch v-model="employedOnly" class="is-success"
        >Currently employed only</b-switch
      >
    </div>
    <b-table
      :data="filteredEmployees"
      :selected.sync="selected"
      :paginated="employees.length > 15"
      :per-page="15"
      :loading="isLoading"
      default-sort="firstName"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
      <template slot-scope="props">
        <b-table-column field="id" label="ID" width="40" sortable numeric>
          {{ props.row.id }}
        </b-table-column>

        <b-table-column field="firstName" label="First Name" sortable>
          {{ props.row.firstName }}
        </b-table-column>

        <b-table-column field="lastName" label="Last Name" sortable>
          {{ props.row.lastName }}
        </b-table-column>

        <b-table-column field="position" label="Position" sortable>
          {{ props.row.position }}
        </b-table-column>

        <b-table-column field="status" label="Status" sortable>
          <span
            class="tag"
            :class="
              props.row.status === 'Employed' ? 'is-success' : 'is-danger'
            "
            >{{ props.row.status }}</span
          >
        </b-table-column>
      </template>
    </b-table>
  </section>
</template>

<script>
import { mapState } from "vuex";
import EditEmployeeForm from "./EditEmployeeForm";
export default {
  name: "EmployeeList",
  data() {
    return {
      search: "",
      employedOnly: true,
      searchBy: ["firstName", "lastName", "position"]
    };
  },
  computed: {
    ...mapState({
      isLoading: state => state.isLoading,
      employees: state => state.employees
    }),
    filteredEmployees() {
      // Filter by state
      const _employees = [...this.employees];
      const _filteredEmployees = this.employedOnly
        ? this.employees.filter(emp => emp.status === "Employed")
        : [..._employees];

      // Search by name or position
      if (this.search.length < 3) return _filteredEmployees;
      let _searchedEmployees = [..._filteredEmployees];
      const searchWords = this.search.split(" ");
      for (const word of searchWords) {
        _searchedEmployees = _searchedEmployees.filter(emp => {
          for (const property of this.searchBy) {
            if (emp[property].toLowerCase().includes(word.toLowerCase())) {
              return true;
            }
          }
        });
      }
      return _searchedEmployees;
    },
    selected: {
      get() {
        return this.$store.state.selected;
      },
      set(val) {
        this.$store.commit("setSelected", val);
      }
    }
  },
  methods: {
    onNewClicked() {
      this.selected = null;
      this.$buefy.modal.open({
        parent: this,
        component: EditEmployeeForm,
        hasModalCard: true,
        trapFocus: true
      });
    }
  }
};
</script>
